**Exercise 2:** Create markdown cell with title of the notebook

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
Take a screenshot of the markdown cell and name it as 2-title.png (Images can be saved with either the .jpg or .png extension.)

**Answer**

# Data Science Tools and Ecosystem

**Exercise 3** - Create a markdown cell for an introduction

**Answer**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10** - Insert a markdown cell to list Objectives

**Objectives:**

* List popular languages for Data Science
* Practice Jupyter code
* Review this module

**Exercise 4** - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Pandas
2. Matplotlib
3. TensorFlow
4. Numpy
5. ggplot
6. Scikit

**Exercise 5** - Create a markdown cell to list data science libraries

1. Seaborn
2. SciPy
3. TensorFlow
4. Keras
5. Plotly
6. Scikit-learn

**Exercise 6** - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
-----------------------------
|Jupyter |
|R|
|VS Code|

**Exercise 7** - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8** - Create a code cell to multiply and add numbers

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9** - Create a code cell to convert minutes to hours

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Exercise 11** - Create a markdown cell to indicate the Author's name

## Author

Luis